.studentImages{
  border-radius: 50%;
  border: 1px solid #E8EAED;
  height:100px
}

.content{
  vertical-align: top !important;
  line-height: 5px !important;
}

.header{
   font-size: xx-large;
   font-weight: bolder;
   margin-top: 10px !important;
   color: black;
}

.paper{
  margin-top: 60px;
  height: 550px;
  overflow-y: scroll;
  position: relative;
 
}

.textField {
  padding: 4px;
   position: fixed;
   width: 48%;
   z-index: 500;
   background-color: white;

}
.textField2 {
  padding: 4px;
   position: fixed;
   width: 48%;
   z-index: 500;
   top:96px;
  background-color: white;
}


